<html>
	<head>
	 <meta charset="utf-8">
		<title>Things to do in summer</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>
	
	<body style="background:#FFFFF0";>
			<form method="POST" action="/logout.php">
				<input type="submit" class="btn btn-danger" value="Logout">
			</form>

			<a href="./register.php" class="col-md-4" class="btn btn-default ">Register</a>
			<a href="./login.php" class="col-md-4" class="btn btn-default ">Login</a>

		<div class="col-md-10 col-md-offset-1">
			<div class="page-header"> <center>
				<h3>Summer things to do</h3> </center>
						<?php 
				if ($pages > 1) {
					for($i = 1; $i <= $pages; $i++) { 
			?>
						<a href="/index.php?page=<?php echo $i; ?>"><?php echo $i; ?></a>
			<?php 		
					}
				}
			 ?>
				<a href="./addtask.php" class="btn btn-success">Add task</a> 
					<div >

				<?php foreach ($tasks as $task) { ?>
					<div class="post">
						<p  class="col-md-8"class="task"><?php echo $task['task']; ?></p>
						<p class="col-md-4" class="status"><?php 
						if ($task['status'] == 0) { echo 'Not done'; } else { echo 'Done';} ?></p> 
					
						<a href="./update.php?id=<?php echo $task['id']; ?>" class="col-md-4" class="btn btn-primary ">Update task</a>
						<form action="/delete.php" method="POST">
							<input type="hidden" name="id" value="<?php echo $task['id']; ?>">
							<input type="submit" class="btn" value="Delete task">
						</form> 
						<form action="./status.php" method="POST">
							<input type="hidden" name="id" value="<?php echo $task['id']; ?>">
							<input type="submit" class="btn" value="Change status">
						</form>
			
					</div>
				<?php } ?>
			</div>

				</div>
			</div>

			<div>